@import "reset";
@import "variables";
@import "mixin";
@import 'header';
@import "footer";

.section_top {
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  padding-bottom: 60px;

  .wrapper_header {
    height: 100vh;
    position: relative;

    .top_background {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../images/icons/Symbol.svg") no-repeat fixed center;
      background-size: 88vh;
    }

    .top_slogan {
      font-weight: $font-bold;
      font-size: 38px;
      color: $basic-white;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
    }

    button {
      width: 45px;
      height: 45px;
      cursor: pointer;
      outline: none;
      border: none;
      background: transparent;
      color: $basic-white;
      transition: 0.3s;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);

      &:hover {
        color: $color-accent;
      }
    }
  }
}
    .wrapper_experience {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr;
      width: calc(100% - 120px);
      padding: 0 120px;
      max-width: 1600px;
      margin: 60px auto;

      @media screen and (max-width: 1440px) {
        max-width: 1080px;
        padding: 0;
      }

      @media screen and (max-width: 970px) {
       grid-template-columns: 100%;
       grid-template-rows: auto auto;
      }
      @media screen and (max-width: 588px) {
        width: 100%;
        margin-top: 30px;
        padding: 0 30px;
      }


      .wrapper_experience_list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        padding: 14.5px 60px 14.5px 0;
        border-right: 4px solid rgba(255, 255, 255, 0.3);
        align-items: end;

        @media screen and (max-width: 970px) {
          grid-column: 1 / span 1;
          border-right: none;
          flex-direction: row;
          padding: 0 0 60px;
        }

        @media screen and (max-width: 588px) {
          padding: 0 0 30px;
        }

        p {
          width: fit-content;
          font-size: 38px;
          font-weight: $font-bold;
          line-height: 46px;
          text-align: right;
          white-space: nowrap;
          color: $color-grey-text;
          cursor: pointer;
          &:first-child {
          background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
          }
          &:hover {
            color: $color-accent;
          }
          @media screen and (max-width: 588px) {
            font-size: 30px;
            line-height: 36.57px;
          }
        }
      }
      .wrapper_experience_text {
        padding-left: 60px;
        align-self: center;

        @media screen and (max-width: 970px) {
          grid-column: 1 / span 1;
          padding-top: 60px;
          padding-left: 0;
          border-top: 4px solid rgba(255, 255, 255, 0.3);
        }

        @media screen and (max-width: 588px) {
          padding-top: 30px;
        }

        h3 {
          font-weight: $font-bold;
          font-size: 30px;
          line-height: 37px;
          color: $basic-white;
          @media screen and (max-width: 588px) {
           font-size: 20px;
            line-height: 24px;
          }
        }

        p {
          font-size: 19px;
          font-weight: $font-regular;
          line-height: 30px;
          color: $basic-white;
          padding-top: 30px;
        }

      }

    }

.wrapper_practice {
  @include width_desktop_hd;
  margin: 0 auto;
  display: grid;
  row-gap: 60px;
  column-gap: 60px;
  grid-template-areas: 'title title title' 'it daily corporate' 'contractual protection judicial';

  @media screen and (max-width: 968px) {
    grid-template-areas: 'title title ' 'it daily' 'corporate contractual' 'protection judicial';

  }
  @media screen and (max-width: 588px) {
    grid-template-areas: 'title' 'it' 'daily' 'corporate' 'contractual' 'protection' 'judicial';
    padding: 30px 0;
    width: calc(100% - 60px);
    gap: 30px;
  }

  .practice_title {
    grid-area: title;
    @include title;

  }
  .practice {

    div {
      width: 92px;
      height: 92px;
      border-radius: 24px;
    }
    h4 {
      font-size: 22px;
      font-weight: $font-bold;
      line-height: 27px;
      color: $color-active-regular;
      padding-top: 30px;

    }
    p {
      font-size: 16px;
      font-weight: $font-regular;
      line-height: 26px;
      padding-top: 15px;
      color: $basic-white;
    }
  }
  .it {
    grid-area: it;
    div {
      background: url("../images/icons/Icon_it.svg") $basic-white;
    }
  }
  .daily {
    grid-area: daily;
    div {
      background: url("../images/icons/Icon_daily.svg") $basic-white center no-repeat;
    }
  }
  .corporate {
    grid-area: corporate;
    div {
      background: url("../images/icons/Icon_coprorate.png") $basic-white center no-repeat;
    }
  }
  .contractual {
    grid-area: contractual;

    div {
      background: url("../images/icons/Icon_trust.png") $basic-white center no-repeat;
    }
  }
  .protection {
    grid-area: protection;

    div {
      background: url("../images/icons/Icon_protection.png") $basic-white center no-repeat;
    }
  }
  .judicial {
    grid-area: judicial;

    div {
      background: url("../images/icons/Icon_court.png") $basic-white center no-repeat;
    }
  }
}

.wrapper_header_shadow {
  margin: 0 auto;
  height: 10px;
  background: rgba(202, 202, 219, 1);
  display: block;
  max-width: 1880px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  @media screen and (max-width: 1920px) {
    width: calc(100vw - 40px);
  }
}

.wrapper_header_shadow2 {
    @extend .wrapper_header_shadow;
    max-width: 1840px;
    background: rgba(231, 231, 242, 1);
  @media screen and (max-width: 1920px) {
      width: calc(100vw - 80px);
    }
  }

.section_team {
  @include width_desktop_hd;
  margin: 60px auto;
  @media screen and (max-width: 958px) {
    margin-top: 0;
  }
  @media screen and (max-width: 746px) {
    margin-top: 60px;
  }
  @media screen and (max-width: 588px) {
    width: calc(100% - 60px);
  }

  .wrapper_team {
    width: 100%;
    display: flex;
    border-radius: 12px;
    overflow: hidden;

    @media screen and (max-width: 948px) {
      flex-direction: column;
    }


    .wrapper_team_img {
      width: 400px;
      position: relative;

      @media screen and (max-width: 948px) {
        width: auto;
        height: 500px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
      }
    }
  }

  .team_title {
    @include title;
    width: fit-content;
    padding: 30px;
    background: $color-grey-bg;

    h2 {
      padding-top: 5px;
    }

    h4 {
      margin: 30px 0 6px;
      font-size: 16px;
      font-weight: $font-bold;
      line-height: 20px;
      color: $color-grey-text;
    }

    p {
      font-size: 14px;
      font-weight: $font-regular;
      line-height: 22px;
      color: $color-grey-text;
    }
  }

  .team_paginator {
  @include paginator;
  }
}


.section_clients {
  margin: 60px 0;

  @media screen and (max-width: 1440px) {
    margin-bottom: 0;
  }

  h3 {
    font-size: 14px;
    font-weight: $font-bold;
    line-height: 17px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

  }

  .wrapper_clients {
    display: grid;
    width: 1720px;
    height: 360px;
    margin: 0 auto;
    border-radius: 12px;
    overflow: auto;
    grid-template-areas:
          'hillel wannabiz tapgerine dlook'
          'orangear adtelligent clickky eco'
          'infatek citypark art ultimate';

    @media screen and (max-width: 1720px) {
      width: 100vw;
      border-radius: 0;
    }
    @media screen and (max-width: 988px) {
      height: 480px;
      grid-template-areas:
          'hillel wannabiz tapgerine'
          'dlook orangear adtelligent'
          'clickky eco infatek'
          'citypark art ultimate';
    }
    @media screen and (max-width: 726px) {
      height: 720px;
      grid-template-areas:
          'hillel wannabiz'
          'tapgerine dlook'
          'orangear adtelligent'
          'clickky eco'
          'infatek citypark'
          'art ultimate';
    }
    @media screen and (max-width: 500px) {
      height: 720px;
      grid-template-areas:
          'hillel' 'wannabiz'
          'tapgerine' 'dlook'
          'orangear' 'adtelligent';
    }

    div {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        box-shadow: inset 0 0 5px 4px #fff;
        animation-name: shake;
        animation-duration: 1s;
      }


      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }

        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }
    }
      .client {
        background: center no-repeat;

        &_hillel {
          width: 100%;
          height: 100%;
          grid-area: hillel;
          background: url("../images/icons/clients/hillel.svg") #1C4280 center no-repeat;
        }

        &_wannabiz {
          grid-area: wannabiz;
          background: url("../images/icons/clients/wannabiz.svg") #143646 center no-repeat;
        }

        &_tapgerine {
          grid-area: tapgerine;
          background: url("../images/icons/clients/tapgerine.svg") #F48B30 center no-repeat;
        }

        &_3dlook {
          grid-area: dlook;
          background: url("../images/icons/clients/3dlook.svg") #9E4DC3 center no-repeat;
        }

        &_orangear {
          grid-area: orangear;
          background: url("../images/icons/clients/orangear.svg") #FD9339 center no-repeat;
        }

        &_adtelligent {
          grid-area: adtelligent;
          background: url("../images/icons/clients/addtelligent.svg") #E2E2E4 center no-repeat;
          @media screen and (max-width: 500px) {
            display: none;
          }
        }

        &_clickky {
          grid-area: clickky;
          background: url("../images/icons/clients/clickky.svg") #C71C36 center no-repeat;
          @media screen and (max-width: 500px) {
            display: none;
          }
        }

        &_eco {
          grid-area: eco;
          background: url("../images/icons/clients/ecolease.svg") #DCF3F9 center no-repeat;
          @media screen and (max-width: 500px) {
            display: none;
          }
        }

        &_infatek {
          grid-area: infatek;
          background: url("../images/icons/clients/infatek.svg") #EAEAEA center no-repeat;
          @media screen and (max-width: 500px) {
            display: none;
          }
        }

        &_citypark {
          grid-area: citypark;
          background: url("../images/icons/clients/citypark.svg") #282240 center no-repeat;
          @media screen and (max-width: 500px) {
            display: none;
          }
        }

        &_art {
          grid-area: art;
          background: url("../images/icons/clients/artprint.svg") #1D4568 center no-repeat;
          @media screen and (max-width: 500px) {
            display: none;
          }
        }

        &_ultimate {
          grid-area: ultimate;
          background: url("../images/icons/clients/logoM.svg") #000000 center no-repeat;
          @media screen and (max-width: 500px) {
            display: none;
          }
        }
      }
    }
  }

  .section_publications {
    background: #F5F5FA;
    padding-top: 30px;

    .wrapper_publications {
    @include width_desktop_hd;
      margin: 0 auto;
      display: grid;
      column-gap: 15px;
      row-gap: 30px;
      grid-template-areas:
    'public_title public_title public_title'
    'public_1 public_2 public_3';

      @media screen and (max-width: 1000px) {
        grid-template-areas: 'public_title public_title' 'public_1 public_2' 'public_3 public_3';
      }
      @media screen and (max-width: 790px) {
        grid-template-areas:
    'public_title'
    'public_1' 'public_2'
    'public_3';
      }

      @media screen and (max-width: 588px) {
        width: calc(100% - 60px);
      }

      .publication_img {
        width: 100%;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .publications_title {
        @include title;
        grid-area: public_title;
      }

      .publication {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background: #FFF;
        overflow: hidden;
        transition: 0.3s;
        color: rgba(0, 0, 0, 1);

        &:hover {
          box-shadow: 0 15px 30px #cfd7e4
        }

        &_content {
          padding: 30px;
          display: flex;
          flex-direction: column;
          gap: 15px;

          h4 {
            font-size: 16px;
            font-weight: $font-bold;
            line-height: 20px;
            color: $color-active-regular;

          }

          .publication_data {
            font-size: 12px;
            font-weight: $font-bold;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $color-grey-text;

          }

          .publication_line {
            height: 4px;
            width: 100%;
            background: #E6E6F0;
          }

          .publication_text {
            font-size: 14px;
            font-weight: $font-regular;
            line-height: 22px;
          }
        }
      }

      .item_1 {
        grid-area: public_1;
      }

      .item_2 {
        grid-area: public_2;
      }

      .item_3 {
        grid-area: public_3;
      }
    }
  }