.section_intro, .section_about {
  max-width: 1600px;
  width: calc(100% - 120px);
  margin: 60px auto;
  padding: 0 120px;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1440px) {
  .section_intro, .section_about {
    max-width: 1080px;
    padding: 0;
  }
}
@media screen and (max-width: 958px) {
  .section_intro, .section_about {
    flex-direction: column;
  }
}
@media screen and (max-width: 588px) {
  .section_intro, .section_about {
    width: 100%;
    margin: 0;
    padding: 30px;
  }
}
.section_intro .intro_text H2, .section_about .intro_text H2 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}
@media screen and (max-width: 588px) {
  .section_intro .intro_text H2, .section_about .intro_text H2 {
    font-size: 30px;
    line-height: 36.57px;
  }
}
@media screen and (max-width: 588px) {
  .section_intro .intro_text H2, .section_about .intro_text H2 {
    font-size: 30px;
    line-height: 36px;
  }
}
.section_intro .intro_text p, .section_about .intro_text p {
  margin-top: 28px;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}
.section_intro .intro_text p:first-child, .section_about .intro_text p:first-child {
  margin-bottom: 30px;
}
.section_intro .intro_advantages, .section_about .intro_advantages {
  width: 388px;
  height: fit-content;
  padding-left: 30px;
  border-left: 4px solid #E6E6F0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-shrink: 0;
}
.section_intro .intro_advantages .advantages, .section_about .intro_advantages .advantages {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  line-height: 43.88px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}
@media screen and (max-width: 588px) {
  .section_intro .intro_advantages .advantages, .section_about .intro_advantages .advantages {
    font-size: 30px;
    line-height: 36.57px;
  }
}
.section_intro .intro_advantages .advantages:before, .section_about .intro_advantages .advantages:before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.section_intro .intro_advantages .heading_1:before, .section_about .intro_advantages .heading_1:before {
  background: url("../images/about/icon_flag.svg") center no-repeat;
}
.section_intro .intro_advantages .heading_2:before, .section_about .intro_advantages .heading_2:before {
  background: url("../images/about/icon_case.svg") center no-repeat;
}
.section_intro .intro_advantages .heading_3:before, .section_about .intro_advantages .heading_3:before {
  background: url("../images/about/icon_star.svg") center no-repeat;
}
.section_intro .intro_advantages p, .section_about .intro_advantages p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #323264;
}

.section_cover {
  width: 100vw;
  position: relative;
}
.section_cover img {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.section_cover p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 96px;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 63px;
  text-align: center;
  color: rgb(255, 255, 255);
  opacity: 80%;
}
.section_cover p span {
  letter-spacing: 0;
}
@media screen and (max-width: 1024px) {
  .section_cover p {
    font-size: 86px;
    line-height: 104px;
  }
}
@media screen and (max-width: 768px) {
  .section_cover p {
    font-size: 46px;
    line-height: 56px;
  }
}
@media screen and (max-width: 588px) {
  .section_cover p {
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 13px;
  }
}

.section_about {
  gap: 60px;
}
@media screen and (max-width: 958px) {
  .section_about {
    gap: 30px;
  }
}
.section_about .about_text p {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.section_about .about_text p:last-child {
  margin-bottom: 0;
}
.section_about .about_title {
  width: 362px;
  flex-shrink: 0;
}
@media screen and (max-width: 958px) {
  .section_about .about_title {
    width: 100%;
  }
}
.section_about .about_title h2 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
}
@media screen and (max-width: 588px) {
  .section_about .about_title h2 {
    font-size: 30px;
    line-height: 36.57px;
  }
}
@media screen and (max-width: 588px) {
  .section_about .about_title h2 {
    font-size: 30px;
    line-height: 37px;
  }
}

.section_achievements {
  background: #F5F5FA;
  padding: 30px 0;
}
.section_achievements .section_achievements_wrapper {
  max-width: 1600px;
  width: calc(100% - 120px);
  margin: 0 auto;
}
.section_achievements .section_achievements_wrapper h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: center;
  color: #323264;
}
.section_achievements .section_achievements_wrapper .wrapper_achievements {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 30px 0;
}
.section_achievements .section_achievements_wrapper .wrapper_achievements .achievements {
  background: #FFFFFF;
  height: 110px;
  width: 100%;
  padding: 25px 0;
  border-radius: 12px;
  cursor: pointer;
}
.section_achievements .section_achievements_wrapper .wrapper_achievements .achievements:hover {
  box-shadow: 0 15px 30px #cfd7e4;
}
@media screen and (max-width: 988px) {
  .section_achievements .section_achievements_wrapper .wrapper_achievements .achievements {
    height: 90px;
  }
}
@media screen and (max-width: 695px) {
  .section_achievements .section_achievements_wrapper .wrapper_achievements .achievements:nth-child(1n+3) {
    display: none;
  }
}
@media screen and (max-width: 588px) {
  .section_achievements .section_achievements_wrapper .wrapper_achievements .achievements:nth-child(1n+2) {
    display: none;
  }
}
.section_achievements .section_achievements_wrapper .wrapper_achievements img {
  margin: 0 auto;
  height: 100%;
  object-fit: contain;
  display: block;
}
.section_achievements .section_achievements_wrapper .team_paginator {
  margin: 30px auto 0;
  width: fit-content;
  margin: 0 auto;
}
.section_achievements .section_achievements_wrapper .team_paginator .paginator {
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.section_achievements .section_achievements_wrapper .team_paginator .paginator:nth-child(2) {
  margin: 0 15px;
}
.section_achievements .section_achievements_wrapper .team_paginator .paginator:nth-child(1n+2) {
  opacity: 20%;
}
.section_achievements .section_achievements_wrapper .team_paginator .paginator:nth-child(1n+2):hover {
  opacity: 60%;
}
.section_achievements .section_achievements_wrapper .team_paginator .paginator:nth-child(1n+4) {
  margin-left: 15px;
  display: none;
}
@media screen and (max-width: 588px) {
  .section_achievements .section_achievements_wrapper .team_paginator .paginator:nth-child(1n+4) {
    display: inline-block;
  }
}

/*# sourceMappingURL=style_about.css.map */
