*, html, body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.header, .header_white {
  max-width: 1600px;
  width: calc(100% - 120px);
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-areas: "logo contacts" "logo nav";
  position: relative;
}
@media screen and (max-width: 956px) {
  .header, .header_white {
    grid-template-areas: "contacts" "logo" "nav";
    justify-items: start;
    row-gap: 30px;
  }
}
@media screen and (max-width: 588px) {
  .header, .header_white {
    width: 100vw;
    justify-items: unset;
    gap: 0;
    grid-template-areas: "contacts contacts" "logo nav";
    padding: 0;
  }
}
.header .wrapper_logo, .header_white .wrapper_logo {
  display: flex;
  padding-bottom: 6px;
  grid-area: logo;
}
@media screen and (max-width: 956px) {
  .header .wrapper_logo, .header_white .wrapper_logo {
    padding: 0;
  }
}
@media screen and (max-width: 588px) {
  .header .wrapper_logo, .header_white .wrapper_logo {
    padding-left: 15px;
  }
}
.header .wrapper_logo .header_logo, .header_white .wrapper_logo .header_logo {
  width: 130px;
  height: 60px;
  background: url("../images/Logo_white.png") no-repeat center;
}
@media screen and (max-width: 588px) {
  .header .wrapper_logo .header_logo, .header_white .wrapper_logo .header_logo {
    width: 69px;
    height: 32px;
    margin: 15px 0 10px 0;
    background-size: contain;
  }
}
.header .contacts, .header_white .contacts {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-area: contacts;
}
@media screen and (max-width: 588px) {
  .header .contacts, .header_white .contacts {
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.2);
  }
}
.header .contacts .wrapper_languages, .header_white .contacts .wrapper_languages {
  height: fit-content;
}
.header .contacts .wrapper_languages a, .header_white .contacts .wrapper_languages a {
  width: 33px;
  height: 25px;
  padding: 5px 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  letter-spacing: 1px;
  transition: 0.3s;
}
.header .contacts .wrapper_languages a:hover, .header_white .contacts .wrapper_languages a:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header .contacts .wrapper_languages a:nth-child(3), .header_white .contacts .wrapper_languages a:nth-child(3) {
  background: #F0145A;
  color: #FFFFFF;
}
.header .contacts .separate, .header_white .contacts .separate {
  width: 6px;
  height: 6px;
  background: #E6E6F0 no-repeat center;
  border-radius: 50%;
  margin: 0 6px;
}
@media screen and (max-width: 588px) {
  .header .contacts .separate, .header_white .contacts .separate {
    display: none;
  }
}
.header .contacts p, .header_white .contacts p {
  font-weight: 400;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
}
@media screen and (max-width: 608px) {
  .header .contacts p, .header_white .contacts p {
    display: none;
  }
}
.header .contacts a, .header_white .contacts a {
  font-weight: 700;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 588px) {
  .header .contacts .social_media_icon, .header_white .contacts .social_media_icon {
    display: none;
  }
}
.header .contacts .social_media_icon svg, .header_white .contacts .social_media_icon svg {
  display: block;
  width: 24px;
  height: 24px;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in;
}
@media screen and (max-width: 588px) {
  .header .contacts .social_media_icon svg, .header_white .contacts .social_media_icon svg {
    display: none;
  }
}
.header .contacts .social_media_icon svg:hover, .header_white .contacts .social_media_icon svg:hover {
  color: #F0145A;
}
.header nav, .header_white nav {
  align-self: end;
  grid-area: nav;
}
@media screen and (max-width: 588px) {
  .header nav, .header_white nav {
    display: none;
  }
}
.header nav ul, .header_white nav ul {
  display: flex;
  gap: 15px;
  justify-content: end;
}
.header nav ul a, .header_white nav ul a {
  padding: 3px 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  position: relative;
}
.header nav ul a:after, .header_white nav ul a:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #F0145A;
  transition: 0.7s;
}
.header nav ul a:hover:after, .header_white nav ul a:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: 0.7s;
}
.header .burger, .header_white .burger {
  display: none;
}
@media screen and (max-width: 588px) {
  .header .burger, .header_white .burger {
    display: block;
    grid-area: nav;
    justify-self: end;
    align-self: center;
    margin-right: 15px;
    border-radius: 8px;
    cursor: pointer;
  }
}
.header .burger:hover, .header_white .burger:hover {
  background-color: rgb(230, 230, 240);
}

.header_white .wrapper_logo .header_logo {
  background: url("../images/Logo.png") no-repeat center;
  background-size: contain;
}
.header_white .wrapper_logo .slash {
  width: 21px;
  height: 47px;
  background: url("../images/Slash.png") center no-repeat;
  margin: 0 4px;
}
@media screen and (max-width: 588px) {
  .header_white .wrapper_logo .slash {
    width: 11.62px;
    height: 26px;
    margin: 15px 4px 18px 4px;
    background-size: contain;
  }
}
.header_white .wrapper_logo p {
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  color: #323264;
}
@media screen and (max-width: 588px) {
  .header_white .wrapper_logo p {
    font-size: 20px;
    line-height: 24.38px;
    padding: 15px 0 18px 0;
  }
}
.header_white .contacts .wrapper_languages a {
  color: #B3B3BA;
}
.header_white .contacts .wrapper_languages a:hover {
  background: #F5F5FA;
}
.header_white .contacts .wrapper_languages a:nth-child(3) {
  background: #F0145A;
  color: #F5F5FA;
}
.header_white .contacts p {
  color: #B3B3BA;
}
.header_white .contacts a {
  color: #B3B3BA;
}
.header_white .contacts .social_media_icon svg {
  color: #B3B3BA;
}
.header_white nav {
  align-self: end;
  grid-area: nav;
}
@media screen and (max-width: 588px) {
  .header_white nav {
    display: none;
  }
}
.header_white nav ul a {
  color: #24A3FF;
}
.header_white nav ul a:after {
  background-color: #F0145A;
}
.header_white nav ul a:hover:after {
  background-color: #24A3FF;
}
.header_white nav ul .selected {
  color: #F0145A;
}
.header_white nav ul .selected:after {
  width: 100%;
  background-color: #F0145A;
}
.header_white nav ul .selected:hover:after {
  background-color: #F0145A;
}

.burger {
  color: #323264;
}

.section_footer, .section_footer_other {
  width: 100vw;
  background: #F5F5FA;
  padding: 30px 0;
}
.section_footer footer, .section_footer_other footer {
  max-width: 1600px;
  width: calc(100% - 120px);
  margin: 0 auto;
  display: grid;
  grid-template-areas: "separate separate" "address trademark" "contacts contacts";
}
@media screen and (max-width: 696px) {
  .section_footer footer, .section_footer_other footer {
    grid-template-areas: "separate" "address" "contacts" "trademark";
  }
}
@media screen and (max-width: 588px) {
  .section_footer footer, .section_footer_other footer {
    width: calc(100% - 60px);
  }
}
.section_footer footer .footer_separate, .section_footer_other footer .footer_separate {
  grid-area: separate;
  width: 100%;
  height: 2px;
  margin: 0 auto 30px;
  background-color: #E6E6F0;
}
.section_footer footer .separate, .section_footer_other footer .separate {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  margin: auto 10px;
}
@media screen and (max-width: 696px) {
  .section_footer footer .separate, .section_footer_other footer .separate {
    display: none;
  }
}
.section_footer footer .footer_contacts_address, .section_footer_other footer .footer_contacts_address {
  grid-area: address;
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
@media screen and (max-width: 696px) {
  .section_footer footer .footer_contacts_address, .section_footer_other footer .footer_contacts_address {
    flex-direction: column;
    gap: 10px;
  }
}
.section_footer footer .footer_contacts_address p, .section_footer_other footer .footer_contacts_address p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #323264;
}
.section_footer footer .footer_contacts_address a, .section_footer_other footer .footer_contacts_address a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #24A3FF;
  text-transform: uppercase;
  transition: 0.3s;
}
.section_footer footer .footer_contacts_address a:hover, .section_footer_other footer .footer_contacts_address a:hover {
  color: #F0145A;
}
.section_footer footer .footer_trademark, .section_footer_other footer .footer_trademark {
  grid-area: trademark;
  justify-self: end;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #B3B3BA;
}
@media screen and (max-width: 696px) {
  .section_footer footer .footer_trademark, .section_footer_other footer .footer_trademark {
    margin: 30px auto 0;
  }
}
.section_footer footer .footer_contacts_other, .section_footer_other footer .footer_contacts_other {
  grid-area: contacts;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 696px) {
  .section_footer footer .footer_contacts_other, .section_footer_other footer .footer_contacts_other {
    flex-direction: column;
    gap: 10px;
  }
}
.section_footer footer .footer_contacts_other .social_media_icon, .section_footer_other footer .footer_contacts_other .social_media_icon {
  display: block;
  width: 38px;
  height: 38px;
  color: #24A3FF;
  transition: 0.3s ease-in;
}
.section_footer footer .footer_contacts_other .social_media_icon:hover, .section_footer_other footer .footer_contacts_other .social_media_icon:hover {
  color: #F0145A;
}
.section_footer footer .footer_contacts_other .social_media_icon svg, .section_footer_other footer .footer_contacts_other .social_media_icon svg {
  width: 100%;
  height: 100%;
}
.section_footer footer .footer_contacts_other p, .section_footer_other footer .footer_contacts_other p {
  font-size: 16px;
  font-weight: 700;
  color: #46466E;
}
.section_footer footer .footer_contacts_other a, .section_footer_other footer .footer_contacts_other a {
  font-size: 16px;
  font-weight: 700;
  color: #24A3FF;
  transition: 0.3s;
}
.section_footer footer .footer_contacts_other a:hover, .section_footer_other footer .footer_contacts_other a:hover {
  color: #F0145A;
}

.section_footer_other {
  padding: 0 0 30px 0;
}
@media screen and (max-width: 768px) {
  .section_footer_other footer {
    grid-template-areas: "separate" "address" "contacts" "trademark";
  }
}
@media screen and (max-width: 768px) {
  .section_footer_other footer .footer_contacts_address {
    padding-left: 125px;
  }
}
@media screen and (max-width: 696px) {
  .section_footer_other footer .footer_contacts_address {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .section_footer_other footer .footer_contacts_other {
    padding-left: 125px;
  }
}
@media screen and (max-width: 696px) {
  .section_footer_other footer .footer_contacts_other {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .section_footer_other footer .footer_trademark {
    margin: 30px auto 0;
  }
}

.section_top {
  max-width: 1920px;
  margin: 0 auto;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
  padding-bottom: 60px;
}
.section_top .wrapper_header {
  height: 100vh;
  position: relative;
}
.section_top .wrapper_header .top_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/icons/Symbol.svg") no-repeat fixed center;
  background-size: 88vh;
}
.section_top .wrapper_header .top_slogan {
  font-weight: 700;
  font-size: 38px;
  color: rgb(255, 255, 255);
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}
.section_top .wrapper_header button {
  width: 45px;
  height: 45px;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.section_top .wrapper_header button:hover {
  color: #F0145A;
}

.wrapper_experience {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  width: calc(100% - 120px);
  padding: 0 120px;
  max-width: 1600px;
  margin: 60px auto;
}
@media screen and (max-width: 1440px) {
  .wrapper_experience {
    max-width: 1080px;
    padding: 0;
  }
}
@media screen and (max-width: 970px) {
  .wrapper_experience {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 588px) {
  .wrapper_experience {
    width: 100%;
    margin-top: 30px;
    padding: 0 30px;
  }
}
.wrapper_experience .wrapper_experience_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 14.5px 60px 14.5px 0;
  border-right: 4px solid rgba(255, 255, 255, 0.3);
  align-items: end;
}
@media screen and (max-width: 970px) {
  .wrapper_experience .wrapper_experience_list {
    grid-column: 1/span 1;
    border-right: none;
    flex-direction: row;
    padding: 0 0 60px;
  }
}
@media screen and (max-width: 588px) {
  .wrapper_experience .wrapper_experience_list {
    padding: 0 0 30px;
  }
}
.wrapper_experience .wrapper_experience_list p {
  width: fit-content;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-align: right;
  white-space: nowrap;
  color: #B3B3BA;
  cursor: pointer;
}
.wrapper_experience .wrapper_experience_list p:first-child {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.wrapper_experience .wrapper_experience_list p:hover {
  color: #F0145A;
}
@media screen and (max-width: 588px) {
  .wrapper_experience .wrapper_experience_list p {
    font-size: 30px;
    line-height: 36.57px;
  }
}
.wrapper_experience .wrapper_experience_text {
  padding-left: 60px;
  align-self: center;
}
@media screen and (max-width: 970px) {
  .wrapper_experience .wrapper_experience_text {
    grid-column: 1/span 1;
    padding-top: 60px;
    padding-left: 0;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
  }
}
@media screen and (max-width: 588px) {
  .wrapper_experience .wrapper_experience_text {
    padding-top: 30px;
  }
}
.wrapper_experience .wrapper_experience_text h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 588px) {
  .wrapper_experience .wrapper_experience_text h3 {
    font-size: 20px;
    line-height: 24px;
  }
}
.wrapper_experience .wrapper_experience_text p {
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(255, 255, 255);
  padding-top: 30px;
}

.wrapper_practice {
  max-width: 1600px;
  margin: 0 auto;
  width: calc(100% - 120px);
  display: grid;
  row-gap: 60px;
  column-gap: 60px;
  grid-template-areas: "title title title" "it daily corporate" "contractual protection judicial";
}
@media screen and (max-width: 968px) {
  .wrapper_practice {
    grid-template-areas: "title title " "it daily" "corporate contractual" "protection judicial";
  }
}
@media screen and (max-width: 588px) {
  .wrapper_practice {
    grid-template-areas: "title" "it" "daily" "corporate" "contractual" "protection" "judicial";
    padding: 30px 0;
    width: calc(100% - 60px);
    gap: 30px;
  }
}
.wrapper_practice .practice_title {
  grid-area: title;
}
.wrapper_practice .practice_title a {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  padding-right: 14px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.wrapper_practice .practice_title a svg {
  position: absolute;
  top: 1px;
  right: 0;
}
.wrapper_practice .practice_title a:hover {
  color: #F0145A;
}
.wrapper_practice .practice_title h2 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: fit-content;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  padding-top: 10px;
}
@media screen and (max-width: 588px) {
  .wrapper_practice .practice_title h2 {
    font-size: 30px;
    line-height: 36.57px;
  }
}
.wrapper_practice .practice_it, .wrapper_practice .practice_judicial, .wrapper_practice .practice_protection, .wrapper_practice .practice_contractual, .wrapper_practice .practice_corporate, .wrapper_practice .practice_daily {
  grid-area: it;
}
.wrapper_practice .practice_it div, .wrapper_practice .practice_judicial div, .wrapper_practice .practice_protection div, .wrapper_practice .practice_contractual div, .wrapper_practice .practice_corporate div, .wrapper_practice .practice_daily div {
  width: 92px;
  height: 92px;
  background: url("../images/icons/Icon_it.svg") rgb(255, 255, 255);
  border-radius: 24px;
}
.wrapper_practice .practice_it h4, .wrapper_practice .practice_judicial h4, .wrapper_practice .practice_protection h4, .wrapper_practice .practice_contractual h4, .wrapper_practice .practice_corporate h4, .wrapper_practice .practice_daily h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  color: #24A3FF;
  padding-top: 30px;
}
.wrapper_practice .practice_it p, .wrapper_practice .practice_judicial p, .wrapper_practice .practice_protection p, .wrapper_practice .practice_contractual p, .wrapper_practice .practice_corporate p, .wrapper_practice .practice_daily p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 15px;
  color: rgb(255, 255, 255);
}
.wrapper_practice .practice_daily {
  grid-area: daily;
}
.wrapper_practice .practice_daily div {
  background: url("../images/icons/Icon_daily.svg") rgb(255, 255, 255) center no-repeat;
}
.wrapper_practice .practice_corporate {
  grid-area: corporate;
}
.wrapper_practice .practice_corporate div {
  background: url("../images/icons/Icon_coprorate.png") rgb(255, 255, 255) center no-repeat;
}
.wrapper_practice .practice_contractual {
  grid-area: contractual;
}
.wrapper_practice .practice_contractual div {
  background: url("../images/icons/Icon_trust.png") rgb(255, 255, 255) center no-repeat;
}
.wrapper_practice .practice_protection {
  grid-area: protection;
}
.wrapper_practice .practice_protection div {
  background: url("../images/icons/Icon_protection.png") rgb(255, 255, 255) center no-repeat;
}
.wrapper_practice .practice_judicial {
  grid-area: judicial;
}
.wrapper_practice .practice_judicial div {
  background: url("../images/icons/Icon_court.png") rgb(255, 255, 255) center no-repeat;
}

.wrapper_header_shadow, .wrapper_header_shadow2 {
  margin: 0 auto;
  height: 10px;
  background: rgb(202, 202, 219);
  display: block;
  max-width: 1880px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
@media screen and (max-width: 1920px) {
  .wrapper_header_shadow, .wrapper_header_shadow2 {
    width: calc(100vw - 40px);
  }
}

.wrapper_header_shadow2 {
  max-width: 1840px;
  background: rgb(231, 231, 242);
}
@media screen and (max-width: 1920px) {
  .wrapper_header_shadow2 {
    width: calc(100vw - 80px);
  }
}

.section_team {
  max-width: 1600px;
  width: calc(100% - 120px);
  margin: 60px auto;
}
@media screen and (max-width: 958px) {
  .section_team {
    margin-top: 0;
  }
}
@media screen and (max-width: 746px) {
  .section_team {
    margin-top: 60px;
  }
}
@media screen and (max-width: 588px) {
  .section_team {
    width: calc(100% - 60px);
  }
}
.section_team .wrapper_team {
  width: 100%;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}
@media screen and (max-width: 948px) {
  .section_team .wrapper_team {
    flex-direction: column;
  }
}
.section_team .wrapper_team .wrapper_team_img {
  width: 400px;
  position: relative;
}
@media screen and (max-width: 948px) {
  .section_team .wrapper_team .wrapper_team_img {
    width: auto;
    height: 500px;
  }
}
.section_team .wrapper_team .wrapper_team_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.section_team .team_title {
  width: fit-content;
  padding: 30px;
  background: #F5F5FA;
}
.section_team .team_title a {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  padding-right: 14px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.section_team .team_title a svg {
  position: absolute;
  top: 1px;
  right: 0;
}
.section_team .team_title a:hover {
  color: #F0145A;
}
.section_team .team_title h2 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: fit-content;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  padding-top: 10px;
}
@media screen and (max-width: 588px) {
  .section_team .team_title h2 {
    font-size: 30px;
    line-height: 36.57px;
  }
}
.section_team .team_title h2 {
  padding-top: 5px;
}
.section_team .team_title h4 {
  margin: 30px 0 6px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #B3B3BA;
}
.section_team .team_title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #B3B3BA;
}
.section_team .team_paginator {
  margin: 30px auto 0;
  width: fit-content;
}
.section_team .team_paginator .paginator {
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.section_team .team_paginator .paginator:nth-child(2) {
  margin: 0 15px;
}
.section_team .team_paginator .paginator:nth-child(1n+2) {
  opacity: 20%;
}
.section_team .team_paginator .paginator:nth-child(1n+2):hover {
  opacity: 60%;
}

.section_clients {
  margin: 60px 0;
}
@media screen and (max-width: 1440px) {
  .section_clients {
    margin-bottom: 0;
  }
}
.section_clients h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.section_clients .wrapper_clients {
  display: grid;
  width: 1720px;
  height: 360px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: auto;
  grid-template-areas: "hillel wannabiz tapgerine dlook" "orangear adtelligent clickky eco" "infatek citypark art ultimate";
}
@media screen and (max-width: 1720px) {
  .section_clients .wrapper_clients {
    width: 100vw;
    border-radius: 0;
  }
}
@media screen and (max-width: 988px) {
  .section_clients .wrapper_clients {
    height: 480px;
    grid-template-areas: "hillel wannabiz tapgerine" "dlook orangear adtelligent" "clickky eco infatek" "citypark art ultimate";
  }
}
@media screen and (max-width: 726px) {
  .section_clients .wrapper_clients {
    height: 720px;
    grid-template-areas: "hillel wannabiz" "tapgerine dlook" "orangear adtelligent" "clickky eco" "infatek citypark" "art ultimate";
  }
}
@media screen and (max-width: 500px) {
  .section_clients .wrapper_clients {
    height: 720px;
    grid-template-areas: "hillel" "wannabiz" "tapgerine" "dlook" "orangear" "adtelligent";
  }
}
.section_clients .wrapper_clients div {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.section_clients .wrapper_clients div:hover {
  box-shadow: inset 0 0 5px 4px #fff;
  animation-name: shake;
  animation-duration: 1s;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.section_clients .wrapper_clients .client {
  background: center no-repeat;
}
.section_clients .wrapper_clients .client_hillel {
  width: 100%;
  height: 100%;
  grid-area: hillel;
  background: url("../images/icons/clients/hillel.svg") #1C4280 center no-repeat;
}
.section_clients .wrapper_clients .client_wannabiz {
  grid-area: wannabiz;
  background: url("../images/icons/clients/wannabiz.svg") #143646 center no-repeat;
}
.section_clients .wrapper_clients .client_tapgerine {
  grid-area: tapgerine;
  background: url("../images/icons/clients/tapgerine.svg") #F48B30 center no-repeat;
}
.section_clients .wrapper_clients .client_3dlook {
  grid-area: dlook;
  background: url("../images/icons/clients/3dlook.svg") #9E4DC3 center no-repeat;
}
.section_clients .wrapper_clients .client_orangear {
  grid-area: orangear;
  background: url("../images/icons/clients/orangear.svg") #FD9339 center no-repeat;
}
.section_clients .wrapper_clients .client_adtelligent {
  grid-area: adtelligent;
  background: url("../images/icons/clients/addtelligent.svg") #E2E2E4 center no-repeat;
}
@media screen and (max-width: 500px) {
  .section_clients .wrapper_clients .client_adtelligent {
    display: none;
  }
}
.section_clients .wrapper_clients .client_clickky {
  grid-area: clickky;
  background: url("../images/icons/clients/clickky.svg") #C71C36 center no-repeat;
}
@media screen and (max-width: 500px) {
  .section_clients .wrapper_clients .client_clickky {
    display: none;
  }
}
.section_clients .wrapper_clients .client_eco {
  grid-area: eco;
  background: url("../images/icons/clients/ecolease.svg") #DCF3F9 center no-repeat;
}
@media screen and (max-width: 500px) {
  .section_clients .wrapper_clients .client_eco {
    display: none;
  }
}
.section_clients .wrapper_clients .client_infatek {
  grid-area: infatek;
  background: url("../images/icons/clients/infatek.svg") #EAEAEA center no-repeat;
}
@media screen and (max-width: 500px) {
  .section_clients .wrapper_clients .client_infatek {
    display: none;
  }
}
.section_clients .wrapper_clients .client_citypark {
  grid-area: citypark;
  background: url("../images/icons/clients/citypark.svg") #282240 center no-repeat;
}
@media screen and (max-width: 500px) {
  .section_clients .wrapper_clients .client_citypark {
    display: none;
  }
}
.section_clients .wrapper_clients .client_art {
  grid-area: art;
  background: url("../images/icons/clients/artprint.svg") #1D4568 center no-repeat;
}
@media screen and (max-width: 500px) {
  .section_clients .wrapper_clients .client_art {
    display: none;
  }
}
.section_clients .wrapper_clients .client_ultimate {
  grid-area: ultimate;
  background: url("../images/icons/clients/logoM.svg") #000000 center no-repeat;
}
@media screen and (max-width: 500px) {
  .section_clients .wrapper_clients .client_ultimate {
    display: none;
  }
}

.section_publications {
  background: #F5F5FA;
  padding-top: 30px;
}
.section_publications .wrapper_publications {
  max-width: 1600px;
  width: calc(100% - 120px);
  margin: 0 auto;
  display: grid;
  column-gap: 15px;
  row-gap: 30px;
  grid-template-areas: "public_title public_title public_title" "public_1 public_2 public_3";
}
@media screen and (max-width: 1000px) {
  .section_publications .wrapper_publications {
    grid-template-areas: "public_title public_title" "public_1 public_2" "public_3 public_3";
  }
}
@media screen and (max-width: 790px) {
  .section_publications .wrapper_publications {
    grid-template-areas: "public_title" "public_1" "public_2" "public_3";
  }
}
@media screen and (max-width: 588px) {
  .section_publications .wrapper_publications {
    width: calc(100% - 60px);
  }
}
.section_publications .wrapper_publications .publication_img {
  width: 100%;
  height: 200px;
}
.section_publications .wrapper_publications .publication_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_publications .wrapper_publications .publications_title {
  grid-area: public_title;
}
.section_publications .wrapper_publications .publications_title a {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  padding-right: 14px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.section_publications .wrapper_publications .publications_title a svg {
  position: absolute;
  top: 1px;
  right: 0;
}
.section_publications .wrapper_publications .publications_title a:hover {
  color: #F0145A;
}
.section_publications .wrapper_publications .publications_title h2 {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  width: fit-content;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  padding-top: 10px;
}
@media screen and (max-width: 588px) {
  .section_publications .wrapper_publications .publications_title h2 {
    font-size: 30px;
    line-height: 36.57px;
  }
}
.section_publications .wrapper_publications .publication {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #FFF;
  overflow: hidden;
  transition: 0.3s;
  color: rgb(0, 0, 0);
}
.section_publications .wrapper_publications .publication:hover {
  box-shadow: 0 15px 30px #cfd7e4;
}
.section_publications .wrapper_publications .publication_content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section_publications .wrapper_publications .publication_content h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #24A3FF;
}
.section_publications .wrapper_publications .publication_content .publication_data {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.section_publications .wrapper_publications .publication_content .publication_line {
  height: 4px;
  width: 100%;
  background: #E6E6F0;
}
.section_publications .wrapper_publications .publication_content .publication_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.section_publications .wrapper_publications .item_1 {
  grid-area: public_1;
}
.section_publications .wrapper_publications .item_2 {
  grid-area: public_2;
}
.section_publications .wrapper_publications .item_3 {
  grid-area: public_3;
}

/*# sourceMappingURL=styles.css.map */
